* {
color: #FC9483;
font-family: sans-serif;
}

h1 {
     text-align: center;
}

h2, h3, h4, h5, h6 {
     text-align: center;
}

p {
     text-align: center;
}

header {
     text-align: center;
}

ul {
     text-align: center;
}

li {
     text-align: center;
}

table {
     text-align: center;
}

div {
     text-align: center;
}

footer {
     text-align: center;
}

header {
    padding: 12px 70px 10px;
    background-color: #FC4C4E;
    position: relative;
    top: 80;
    left: 150;
    right: 150;
    height: 35px;
    text-align: center;
    font-size: 1.8em;
    text-shadow: 3px 3px 5px;
    font-style: italic;
    letter-spacing: 3px
}

p {padding: 0px 150px 0px}

table {padding: 10px 10px 10px}


table.center {
  margin-left: 30%;
  margin-right: 30%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

a:hover {
  color: green;
}

a[title] {
    color: green;
}

div tbody td{
  color:green
}
