* {
color: #ff7a75;
font-family: sans-serif;
}

h1 {
     text-align: center;
}

h2, h3, h4, h5, h6 {
     text-align: center;
}

p {
     text-align: center;
}

li {
     text-align: center;
}

div {
     text-align: center;
}

header {
    padding: 12px 70px 10px;
    background-color: #cc0256;
    position: relative;
    top: 80;
    left: 150;
    right: 150;
    height: 35px;
    text-align: center;
    font-size: 1.8em;
    text-shadow: 3px 3px 5px black;
    font-style: italic;
    letter-spacing: 3px
}

p {padding: 0px 150px 0px}

.real-data {padding: 10px 10px 10px}

table.center {
  margin-left: 30%;
  margin-right: 30%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}

.big-title {
  font-size: 40px;
  text-shadow: 0 6px 4px #85c226,
		     -3px -5px 4px #fe2192,
		     3px -5px 4px #f7c200;
  color: #112882
}

a:hover {
  color: #69CD1D;
}

a[title] {
    color: #69CD1D;
}

div tbody td{
  color: #69CD1D
}

#section-1 {
  color: #cc0256
}

#bottom-element {
  text-align: center;
font-style: italic;
}

#year-and-copyright {
  color: #206B00
}
