* {
color: #FC9483;
}

* {
font-family: monospace;
}

h1 {
     text-align: center;
}

h2, h3, h4, h5, h6 {
     text-align: center;
}

p {
     text-align: center;
}

header {
     text-align: center;
}

div {
     text-align: center;
}

footer {
     text-align: center;
}

img {
     text-align: center;
}

header {
    height: 80px;
}
body {
    height: 125vh;
  }
main {
    color: white;
}

header {
    background-color: #FC4C4E;
    position: fixed;
    top: 80;
    left: 80;
    right: 80;
    height: 80px;
    text-align: center;
}

#container {
    background-color:grey;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
}
